.about-me {
  text-align: left;
  font-size: 1.6em;
  margin-top: 1em;
}

.contact {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
}

.margined {
  margin-top: 30px;
  margin-bottom: 10px;
}

.head-text {
  font-family: 'Permanent Marker';
  text-align: center;
  font-size: 4em;
  line-height: 1.1em;
}

.section-headers {
  font-family: 'Permanent Marker';
  font-size: 3em;
  margin-bottom: 25px;
}

.project-title {
  font-size: 2em;
}
