.about {
  padding-top: 50px;
  padding-bottom: 50px;
}

.about-body {
  background-color: #404040;
  color: #f7f7f7;
  background-image: url("./images/grilled-noise.png");
}

.about-header {
  background-color: aquamarine;
}

.about-me {
  text-align: justify;
  font-size: 1.4em;
  margin-top: 2em;
}

.about-me a {
  color: aquamarine;
  font-weight: 500;
}

.about-me a:hover {
  color: #b5ffe6;
}

.contact {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #404040;
}

.contact-icon {
  margin-left: auto;
  margin-right: auto;
  height: 57px;
  width: 57px;
}

.contact-icon:hover {
  height: 60px;
  width: 60px;
}

.content {
  padding-top: 50px;
  padding-bottom: 80px;
}

.head-text {
  font-family: 'Permanent Marker';
  text-align: center;
  font-size: 4em;
  line-height: 1.1em;
}

.inverse {
  color: #f7f7f7;
}

.blogs {
  background-color: #ededed;
}

.section-headers {
  font-family: 'Permanent Marker';
  text-align: center;
  font-size: 3em;
  padding-bottom: 30px;
}

.section-headers a {
  color: rgba(0,0,0,.87);
}

.section-headers a:hover {
  color: black;
}

.video {
  min-height: 200px;
  border: 0;
}
